@{
    ViewBag.Title = "";
}



<div class="jumbotron">
    <h1>Bienvenido usuario!</h1>


    <div class="module-container">
        <div class="module">
            <span class="module-text">Sección 1</span>
            <div class="module-img">
                <img src=""/>
            </div>
        </div>
    </div>
   
</div>

