
/.vs
/Data/obj/Debug
/Entities/obj/Debug
/Negocio/obj/Debug
/PostgradosGestionInformacion/bin
/PostgradosGestionInformacion/obj/Debug

PostgradosGestionInformacion/bin/

Entities/bin/

Data/bin/

*.DotSettings

/PostgradosGestionInformacion/Web.config

/Entities/obj/Release
/Data/obj/Release
/PostgradosGestionInformacion/obj/Release
*.cache