/.vs
/Data/obj/Debug
/Entities/obj/Debug
/Negocio/obj/Debug
/PostgradosGestionInformacion/bin
/PostgradosGestionInformacion/obj/Debug
/obj/Debug/netstandard2.0
PostgradosGestionInformacion/bin/

Entities/bin/

Data/bin/

*.DotSettings

/Entities/obj/Release
/Data/obj/Release
/PostgradosGestionInformacion/obj/Release
/packages/
*.cache